@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap'); /* carga de fuente */


body{
    text-align: center;
    background-color: #000;
    color: #ffffff;
    margin: 0;
  }

  /* fuentes de letra */
.text-formatob{
    font-family: Lato;
    font-weight: 300;
}

.text-formatoA{
    font-family: Lato;
    font-weight: 400;
}

.text-tamA{
    font-size: x-large; /* tamaño de letra grande */
}

.text-tamB{
    font-size:larger; /* tamaño de letra largo */
}

.tam-ico{
    height: 30px;
    width: 30px;
    border-radius: 10%;
}

.linea-central{
    color: #17a2b8;
}

.bg-tranparente{
    background-color: transparent;
}

.bg-verde{
    background-color: #17a2b8;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #17a2b8;
  }

.altura-container { 
    min-height: 100vh;  /* altura de los section */
  }

  /* inicio de tamaño de imagenes dentro de las tarjetas */
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px !important; /* aqui se deja las imagenes con el mismo tamaño */
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }

    /* Fin de tamaño de imagenes dentro de las tarjetas */